:root {
    --aqua: #5bd1d1;
    --blue: #030946;
    --secondary: #18b2c0;
    --gray: #757575;
}

header {
	text-align: center;
	background-color: var(--secondary);
	color: var(--blue);
}

.container {
    max-width: 120rem;
    margin: 5px 15px 5px 15px;
}

.principles{
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 1rem;   
}

.subtitle {
    display: flex;
    flex-direction: column; 
    background-color: var(--gray);
    border-radius: 15px;         
}

.content {
    text-align: center;
    line-height: 2;
    padding: 0 5%;
}

h3 {
    background-color: var(--secondary);
    text-align: left;
    margin: 0;
    padding: 10px;
    color: var(--blue);
}

h4 {
    color: var(--aqua);   
}

.picture {
    width: 100%;
}

a {
    color: var(--aqua)
}

footer  {
    text-align: center;
    background-color: var(--secondary);
    color: var(--blue);
    font-size: 15px;
    padding: 0 3px 3px 2px;
    padding: 10px;
}




