:root {
  --primary: #B6AD90;
  --darkprimary: #281301;
  --secondary: #7c9760;
  --darksecondary: #333D29;
  --gray: #C2C5AA;

  --mainfont: Open sans-serif;
}

body {
  font-family: var(--mainfont);
  font-size: 16px;
  background-color: var(--primary);
  margin: auto;
}

.banner {
  grid-row: 3/4;
  grid-column: 1/5;
  justify-content: center;
}


/*************
  Header
*************/
header {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: .7em;
  background-color: var(--secondary);
  color: var(--darkprimary);
  padding: .6em;
  grid-column-gap: .5rem;
}

.logo {width: 10px;}

h1 {
  padding-left: 5px;
  justify-self: start;
}

button {
  background-color: var(--gray);
  color: var(--darksecondary);
  border: none;
  font-size: 2em;
}

button:hover {
  cursor: pointer;
} 

.hero .button-link {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: right;
  align-self: end;
  margin-bottom: 1em;
  margin-right: 1em;
}

.button-link {
  padding: .3rem .3rem;
  border-radius: 1rem;
  font-size: 1.5em;
  color: #221110;
  background-color: var(--secondary);
  text-decoration: none;
}

.extra {display: initial;
  text-align: justify;}

.date {
  grid-row: 2/3;
  grid-column: 1/5;
  align-self: center;
  font-family: var(--mainfont);
  color: var(--darkprimary);
}

nav {
margin: 0 auto;
max-width: 760px;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: .5rem;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0;
  font-size: 1em;
  top: 18%;
}

.navigation li {display: none;}

.navigation a {
display: block;
padding: 0.75rem 2vw;
text-decoration: none;
color: var(--darkprimary);
transition: 0.2s;
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;

}

nav ul li.active a, .navigation a:hover {background-color: var(--gray);
  }

.hidden {
  display: none;
}
.toggle-btn {padding: 1em;}

.responsive li {display: block;
   
}

ul.responsive {
  z-index: 1;
}

.responsive a {background-color: var(--gray);
  color: var(--darkprimary);
}

/*************
  Main
*************/
main {
  margin-bottom: .5rem;
  font-size: 1em;
  max-width: 800px;
}

h2 {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
  color: var(--darksecondary);
  background-color: var(--secondary);
  width: 118px;
  height: 10% ;
  margin: 0 16px 0.5rem;
	top: 25px;
	left: 30px;
	background: radial-gradient(rgb(252, 252, 252), #F4B552);
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.8;
}

main section {background-color: var(--gray);}

main section h4, main section p {font-weight: lighter;}

main section p a {
  color: var(--darkprimary);
  font-weight: normal;
  padding: 0 .25em;

}

main section p a:hover {color: var(--gray);}

/*************
  Footer
*************/

footer {
  text-align: justify;
  padding: 1em;
  background-color: var(--secondary);
  color: var(--darkprimary);
}

footer h3 {
  padding-left: .5em;
}

.contact-info a {color: var(--gray);}

.contact-info a:hover {color: var(--gray);}

.wdd-info {padding: .5rem;}


/*************
  Home
*************/

.home-main section h3 {
  color: var(--darksecondary);
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  margin: 0;
}

.join h3 {
  background-color: var(--secondary);
}

.spotlight {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  text-align: center;
  margin: auto;
}

.spotlight div {
  border: 4px dashed var(--darksecondary);
  margin: 0;
}

.spotlight h3 {
  background-color: var(--secondary)
}

.home-main section .home-section-heading {
  text-align: left;
}

.spotlight div p {
  color: var(--darkprimary);
  font-weight: normal;
  padding-left: .5em;
  padding-right: .5em;
}

.spotlight img {
  width: 150px;
  min-height: 100px;
  padding-top: .75rem;
}

#spotlight3 {display: none;}

.join {display: none;}

.logo {width: 75px;}

.icon {width: 20px;}

.social a img {
  padding: .3em;
}

.hero {
  display: grid;
  min-width: 100px;
  margin: 0px;
  padding: 2rem;
  
}

.hero .hero-photo {
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 20px;
  min-width: 100px; 
}

.hero-photo img {
  width: 100%;
  height: 100%;
}


#current-temp {
  padding-left: 20px;
}

.news h3 {
  padding: 1em 1em .5em 1em;
  background-color: var(--secondary);
}

.weather, p {
  color: var(--darkprimary);
  font-family: var(--mainfont);  
}

/*******
Discover
*******/
main section {
  text-align: center;
  background-color: var(--gray);
  margin: 10px;
}

.card-content {
  justify-content: center;
  padding: 3rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-discover {
  float: left;
  margin-right: 25px;
  width: 100%;
}

.discover img[data-src] {
  filter: blur(0.2em);
}

.discover-title {
  color: var(--darkprimary);
  font-size: 30px;
  font-family: var(--mainfont);
}

discover-main, p {
  text-align: center;
}

/****Directory****/
h1.business{
  text-align: center;
  color: var(--darkprimary);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.directory {
    text-align: center;
    border: 4px var(--darksecondary) solid;
}

.list-view img, .card-view>section h3 {display: none;}

.card-view img{
  display: block;
  width: 50%;
  margin: .5rem auto;
  min-height: 250px;
}
.list-view>section h3 {display: block;}

.list-view section {
    grid-template-columns: 1fr;
    padding: .5em;
    color: var(--darkprimary);
}

.list-view section p, .card-view section p {
    font-weight: 500;
    color: var(--darkprimary);
}

.card-view {
    display: grid;
    grid-template-columns: 1fr;
}

.card-view section {
    padding: .5em;
    margin: .5em;
    display: grid;
}

.card-view section p {
    align-self: end;
}

.list-view-btn {
    padding: .5em;
}

.list-view-btn button {
    padding:.2rem;
    background-color: var(--secondary);
    border: 3px var(--darksecondary) solid;
    border-radius: 5px;
    margin: .3em;
}

.list-view section:nth-child(2n) {
    background-color: var(--secondary);
}

/*****
Join
******/
form fieldset {
  margin: 2rem 0;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: .5rem 2%;
  display: grid;
}

.form-title{
  text-align: center;
}

form legend {
  color: var(--darkprimary);
  margin: 0.1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

form label.top, form div {
  padding-top: 1rem;
  color: var(--darkprimary);
  font-size: 1rem; 
  width: 70%;
  margin: auto;
  
}

form label.top input, form textarea.top {
  display: block;
  font-size: 1rem;
  border: solid 1px var(--darkprimary);
  border-radius: 4px;
  padding: .75rem;
  color: var(--darksecondary);
  background-color: rgb(232, 232, 232);
  width: 70%;
  margin: auto;
}

form label.sbs {
  display: block;
  padding: 1rem 0;
  color: var(--darkprimary);
  width: 70%;
  margin: auto;
}

form input.submitBtn {
  border: none;
  background-color: rgb(19, 48, 19);
  color: whitesmoke;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 15%;
  width: 100%;
  max-width: 18rem;
  font-size: 25px;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: var(--secondary) solid 6px;

}

.join-title {
  text-align: center;
  font-family: var(--mainfont);
  color: var(--darkprimary);
}

.membership {
  justify-self: center;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  max-width: 100%;
  margin: 60px 20px ;
  padding: 20px;
}

main section.membership {
  background-color: var(--primary);
}

.membership1 {
  background-color: var(--secondary);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: var(--darkprimary);
  border-radius: 1rem;
}

.membership2 {
  background-color: #cd7f32;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: var(--darkprimary);
  border-radius: 1rem;
}

.membership3 {
  background-color: #c0c0c0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: var(--darkprimary);
  border-radius: 1rem;
}

.membership4 {
  background-color: #ffd700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: var(--darkprimary);
  border-radius: 1rem;
}

.fillout-form {
  grid-template-columns: repeat(2, 1fr);
}

.price {
  font-size: 35px;
}

.join-us {
  text-align: center;
  font-size: 25px;
}

/*******Thank You**********/
.thanks {
  text-align: center;
  border-radius: 5px;
  border: solid 3px var(--darksecondary);
  padding: 2rem;
  color: #113103 ;
  font-size: 25px;
}

/****Contact*****/
.contact-us {
  text-align: center;
  color: var(--darkprimary);
  font-size: 45px;
}

main.contact-details {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-size: 17px;
}

section.contact-info {
  margin: auto 10px;
  border: solid var(--darksecondary);
}

.visit {
  font-size: 30px;
  margin: auto;
  color:var(--darkprimary);
}

.visit-info {
  font-size: 20px;
  color: var(--darkprimary);
}

section lu p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--darkprimary);
  text-align: center;
}

section li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  list-style-type: none;
}

section h3.general-query {
  font-size: 30px;
  color: var(--darkprimary);
}

section p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
}

h4 {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
