:root {
    --primario: #8f9e93;
    --secundario: #d9d9b4;
    --claro: #527f49;
    --oscuro: #083744;
    
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;  /*hack para box model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
  }  

body {
    font-size: 8px;
    background: white;
    justify-content: space-evenly;
    padding: 1em;
}

  .hero {
    background-image: url(../images/law.png);
    background-repeat: no-repeat center;
    background-size: cover;
    height: 280px;
    position: relative;
    padding: 1rem;
}

h1 {
    font-family: var(--fuenteHeading);
    color: var(--oscuro);
    padding: .1em;
    text-align: center;
}

h2 {
    font-family: var(--fuenteHeading);
    font-size: 20px; 
    color: var(--oscuro);
    margin-left: 13px; 
    margin-bottom: 20px;
    padding-top: 5rem;
}

h3 {
    font-family: var(--fuenteHeading);
    text-align: center;
    font-size: 40px;
    color: var(--oscuro);
}

h4{
    font-size: 25px;
    text-align: center;
    font-family:var(--fuenteHeading);
    margin: 1rem;
}

h5 {
    font-family: var(--fuenteHeading);
    font-size: 20px;
    margin: auto;
}

p {
    font-family: var(--fuenteParrafos);
    font-size: 17px;
}



/*SERVICIOS*/
.servicios li {
    text-align: left;
    list-style-type: circle;
    padding: 2rem;
    margin-left: 8rem;
    font-size: 2.5rem;
}

img {
    float: center; 
    padding: 1rem;
}

/*HEADER*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.talento {
    text-align: justify;
    margin: auto;
}

.top-logo {
    width: 110px;
    height: 105px;
    margin-left: 3rem;
    padding-top: 1rem;
}

/*barra Nav*/
.barra-navegacion {
    display: flex;
}

/*HAM MENU*/
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
    max-height: 750px;
}
.barra-navegacion {
	list-style: none;
    flex-direction: column;
    margin: auto;
}
.barra-navegacion li:first-child {
	display: block;
}
.barra-navegacion li {
	display: none;
}
.barra-navegacion a {
	display: block;
	padding: .5rem;
	text-align: center;
	text-decoration: none;
	color: var(--oscuro);
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.5rem;
    margin-top: 10px;

}

.barra-navegacion a.ham::before {
	content: "";
}

.barra-navegacion a:hover {
	color: var(--secundario);
	background-color: var(--secundario);
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
    padding: 0.5rem;
    margin-bottom: auto;
}

.responsive a.ham::before {
	content: "";
}

/*NUESTRO TALENTO*/
.talento {
    justify-content: center;
    padding: 3rem;
    font-size: 1.5rem;
    font-family: var(--fuenteHeading);
}

.foto {
    float: left;
    margin-right: 15px;
    width: 30rem;
    height: 44rem;
}

.subtitle{
    font-size: 20px;
    font: bold;
    padding: 0%;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.bottom-logo {
    height: 190px;
    float: left;
    margin-right: 5px;
    padding-top: 3rem;
}   

.contact {
    float: right;
    margin-left: 30px;
    font-size: 10px;
}

.footer-info {
    text-align: center;
    font-size: 5px;
}

.abogados-titulo {
    text-align: center;
    padding: 1rem;
    font-size: 15px;
}

.address {
    text-align: justify;
    font-size: 18px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: .1rem;
}


/*CONTACT US*/
.contacto {
    text-align: justify;
    margin-right: 7rem;
    margin-left: 3rem;
    margin-bottom: 10rem;    
}

.contacto__titulo {
    text-align: center;
    padding: 1rem;
    font-size: 40px;
}

.bloques {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
    text-align: center;
}

.icono {
    width: 10rem;
    height: 10rem;
}

