:root {
    --black: #111010;
    --green: #304a38;
    --secondary: #e58875;
    --gray: #757575;
}

h1 {
    color: var(--green);
    font-size: 25px;
}

p {
    color: var(--green);
    font-size: 15px;
}

header {
    background-color: var(--secondary);
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 600px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); 
    justify-items:center;
    -webkit-box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
    -moz-box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
    box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
}

.photo {
    max-width: 100px;
}

main {
    color: var(--green);
    text-align: left;
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-shadow: 0 0 8px var(--gray);
    font-size: 100%;
}

.line {
    text-decoration-style: wavy;
    font-family: cursive;
    font-size: small;
    padding: 0.1rem;  
}

footer {
    background-color: var(--secondary);
    display: grid;
    max-width: 600px;
    grid-template-columns: 250px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    justify-content: center;
    -webkit-box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
    -moz-box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
    box-shadow: -18px -12px 38px -9px rgba(117,117,117,0.72);
    color: var(--green)
}


