section {
    background-color: #798952;
    color: #132A13;
    border: 1px black solid;
    box-shadow: 10px 5px 5px gray;   
    margin: 5px;
    border-radius: 5px; 
}



h2 {
    font-size: 2rem;
    background-color: rgb(215, 215, 144);
}

h2,p{
    margin: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
}

div {
    margin: 5px;
    text-align: center;
}

footer {
    color: black;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 80em;
}
img {
    max-width: 300px;
    height: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}